<div style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 200px);">
  <div class="border rounded p-6 text-center">
    <%= form_with url: auth_login_path, scope: :user do |form| %>
      <div>
        <%= form.label :email %>
        <%= form.email_field :email, required: true %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password, required: true %>
      </div>
      <div>
        <%= form.label :remember_me %>
        <%= form.check_box :remember_me %>
      </div>
      <%= form.submit "Sign In" %>
    <% end %>
  </div>
</div>
