<div style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 200px);">
  <div class="border rounded p-6 text-center">
    <%= form_with model: @user, url: auth_sign_up_path do |form| %>
      <%= render partial: "shared/form_errors", locals: { object: form.object } %>
      <div>
        <%= form.label :email %>
        <%= form.email_field :email, required: true %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password, required: true %>
      </div>
      <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, required: true %>
      </div>
      <%= form.submit "Sign Up" %>
    <% end %>
  </div>
</div>
