<div class="d-flex-center">
  <div style="min-width: 400px" class="mt-4">
    <%= render 'shared/back_button', {href: index_project_path, text: t('views.shared.back_to_dashboard')} %>
    <div class="border rounded p-6 mt-2">
      <%= render(Primer::Beta::Heading.new(tag: :h1, mb:-3)) { t('views.projects.new_title') } %>'
      <p class="mb-3 fgColor-muted"><%= t('views.projects.explanation') %></p>
      <%= primer_form_with(url: create_project_path, model: @project) do |f| %>
        <%= render(CreateProjectForm.new(f)) %>
      <% end %>
    </div>
  </div>
</div>
